* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Montserrat';
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

#nav {
    position: fixed;
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 0rem 0 0 9rem;
    height: 120px;
    width: 100%;
    justify-content: flex-start;
    z-index: 99;
}

#nav img {
    height: 5rem;
}

#nav h4 {
    font-size: 1rem;
    font-weight: 700;
}
#nav .btn{
    padding-left: 80px;
    gap: 30px;
    align-items: center;     
    display: flex;
    justify-content: flex-end;
}
#nav .btn button{
    font-size: 17px;
    font-weight: 600;
    height: 57px;
    width: 170px;
    background-color: black;
    border: 2px solid #ace022;
    border-radius: 55px;
    
}
#cursor{
    height: 20px;
    width: 20px;
    background-color: #95c11e;
    border-radius: 50%;
    position: fixed;
    z-index: 99;   
}
#cursor-blur{
    height: 350px;
    width: 350px;
    background-color: #d5f77796;
    border-radius: 50%;
    position: fixed;
   filter: blur(40px);  
   z-index: 9;
}
#main {
    position: relative;
    color: rgba(0, 0, 0, 0.671);
}
video {
    
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}


#page1 {
    padding-top:35vh;
    height: 100vh;
    width: 100%;
    position: relative;  
    z-index: 1; 
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
}
#page1 h1{
    font-size: 8rem;
    font-weight: 900;
    position: relative;
}
#page1 h1::before{
    content: "EAT.DRINK.PLAY";
    position: absolute;
    color: black;
    top: -4px;
    left: -4px;
    -webkit-text-stroke: 2px #95c11e;
    z-index: -1;

}
#page1 h2{
    font-size: 2rem;
    font-weight: 700;
    margin: 10px 0 20px 0;
}
#page1 p{
    
    font-size: 1.5rem;
    font-weight: 500;
     width: 50%;
}
#page1 #arrow{
    border: 4px solid #95c11e;
    height: 250px;
    width: 250px;
    background-color: transparent;
    position: absolute;
    left: -2%;
    bottom: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all ease 0.5s;
}
#page1 #arrow:hover{
    scale: 0.4;
    background-color: #95c11e;
     
}
#page1 #arrow i{
    color: white;
    font-size: 100px;
    font-weight: 000;
}
#page1 #arrow i:hover{
    color: white;
    font-size: 80px;
    font-weight: 100;
}

#page2{
    min-height: 100vh;
    width: 100%;
    z-index: 10;
}

#scroller{
    
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
}
#scroller::-webkit-scrollbar{
    display: none;
     
}

#scroller-in-1{
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
 

#scroller h4{
    display: inline-block;
    font-size: 7rem;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 10px;
    transition: all linear 0.5s;
    color: black;

    -webkit-text-stroke: 1px white;
}
#scroller h4:hover{
     color: #befc12;
}
@keyframes scroll{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

#about-us{
    padding: 0 80px;
    height: 40vh;
    width: 100%;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#about-us img{
     height: 210px;
     width: 210px;
     border-radius: 20px;
     object-fit: cover;
}
#about-us-in{
     width: 47%;
      text-align: center;
}
#about-us-in h3{
     font-size: 50px;
     font-weight: 700;
     margin-bottom: 15px;
} 
#about-us-in p{ 
     font-size: 17px;
     line-height: 20px;
}

#cards-container{
    position: relative;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    z-index: inherit;
}
.card{
    overflow: hidden;
    height: 80%;
    width: 22%;
    transition: transform 0.3s;
    border-radius: 12px;
    background-size: cover;
    background-position: center;
}
.card:hover{
    transform: rotate(-1, 1, 0 -20deg);
}

#card1{
    background-image: url("https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer.jpg?strip=all&lossy=1&sharp=1&fit=1024%2C682&ssl=1");
}
#card2{
    background-image: url("https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/hero-4.jpg?strip=all&lossy=1&sharp=1&fit=1024%2C1024&ssl=1");
}
#card3{
    background-image: url("https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-lessons.jpg?strip=all&lossy=1&sharp=1&fit=1024%2C682&ssl=1");
}

.over-lay{
    height: 100%;
    width: 100%;
    background-color: #befc12;
    opacity: 0;
    padding: 100px 20px 0 20px;
    transition: all ease 0.6s;
    
}
.card:hover .over-lay {
    opacity: 1;
    
}
.over-lay h4{
    color: black;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    white-space: nowrap;
    margin-bottom: 20px;
}

.over-lay p{
    color: black;
    font-size: 18px;
}

#green-div{
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to left bottom, #039c3d, #ace022);
}
#green-div h4{
    width: 45%;
    line-height: 50px;
    text-align: center;
    color: black;
    font-size: 27px;
    font-weight: 800;
}
#green-div img{
    height: 100%;
    object-fit: cover;
    width: 12%;
    
}

#page3{
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#page3>p{
    font-size: 30px;
    font-weight: 700;
    width: 50%;
    text-align: center;
    line-height: 35px;

}
#page3 img{
    position: absolute;
    height: 60px;
}
#page3 #clone1{
    left: 15%;
    top: 25%;
}
#page3 #clone2{
    bottom: 25%;
    right: 15%;
}

#page4{
    height: 50vh;
    width: 100%;
    /* background-color: rgb(250, 50, 50); */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 90px;
}
#page4 h1{
    font-size: 85px;
    position: absolute;
    top: 2.5%;
    font-weight: 900;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke: 1px  white;
}
.elem{
    position: relative;
    height: 55%;
    width: 26%;
    font-family: monospace;
    overflow: hidden;
    background-color: rgb(80, 220, 255);
    border-radius: 15px;

}
.elem h2{
    height: 100%;
    width: 100%;
    color: black;
    font-weight: 800;
    background-color: #befc12;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    position: absolute;
    z-index: 10;
    transition: all ease 0.2s;

}
.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.5s;
    scale: 1.1;
}
.elem h2:hover{
    color: white;
    background-color: transparent;
}
.elem img:hover{
    scale: 1;
}

#footer{
    height: 40vh;
    width: 100%;
    background: linear-gradient(to left bottom, #119f3a,#ace022);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 150px;
    padding: 0 100px
}

#footer>img{
    position: absolute;
    left: 0;
    height: 100%;
    z-index: 0;
    
}
#f1 img{
    height: 100px;
}
#f1, #f2,#f3,#f4{
    width: fit-content;
    position: relative;
    z-index: 2;
}
#f2 h3{
    font-size: 30px;
    white-space: nowrap;
    text-transform: uppercase;
    color: black;
    font-weight: 900;
    margin-bottom: 8px;
}
#f3 h3{
    font-size: 30px;
    white-space: nowrap;
    text-transform: uppercase;
    color: black;
    font-weight: 600;
    margin-bottom: 8px;
}
#f4 h4{
    font-size: 15px;
    white-space: nowrap;
    text-transform: uppercase;
    color: black;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 8px;
}
#f5 {
    position: absolute;
    bottom: 10%;
    z-index: 2;
}

#f5 p {
    padding-left: 270px;
    font-size: 18px; 
    color: black;
}